<a href="https://colab.research.google.com/github/lagonee23/Practice/blob/master/Pandas/Pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataSet 1

## Question 1
> 데이터를 로드하라. 데이터는 \t을 기준으로 구분되어있다.

In [ ]:
import pandas as pd

# 롤 랭킹 데이터
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(DataUrl, sep='\t')

## Question 2
> 데이터의 상위 5개 행을 출력하라

In [ ]:
df.head(5)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

## Question 3
> 데이터의 행과 열의 갯수를 파악하라

In [ ]:
df.shape

(51490, 61)

## Question 4
> 전체 컬럼을 출력하라

In [ ]:
df.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

## Question 5
> 6번째 컬럼명을 출력하라

In [ ]:
df.columns[5]

'firstBlood'

## Question 6
> 6번째 컬럼의 데이터 타입을 확인하라

In [ ]:
df.iloc[:, 5].dtype

dtype('int64')

## Question 7
> 데이터셋의 인덱스 구성은 어떤가

In [ ]:
df.index

RangeIndex(start=0, stop=51490, step=1)

## Question 8
> 6번째 컬럼의 3번째 값은 무엇인가?

In [ ]:
df.iloc[2, 5]

2

# DataSet 2

## Question 9
데이터를 로드하라. 컬럼이 한글이기에 적절한 처리해줘야함

In [ ]:
DataUrl_2 = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df2 = pd.read_csv(DataUrl_2, encoding='euc-kr')

## Question 10
> 데이터 마지막 3개행을 출력하라

In [ ]:
df2.tail(3)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

## Question 11
> 수치형 변수를 가진 컬럼을 출력하라

In [ ]:
df2.select_dtypes(exclude=object).columns

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

## Question 12
> 범주형 변수를 가진 컬럼을 출력하라

In [ ]:
df2.select_dtypes(include=object).columns

Index(['일자', '시도명', '읍면동명'], dtype='object')

## Question 13
> 각 컬럼의 결측치 숫자를 파악하라

In [ ]:
df2.isnull().sum()

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

## Question 14
> 각 컬럼의 데이터수, 데이터타입을 한번에 확인하라

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

## Question 15
> 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하라

In [ ]:
df2.describe()

,id,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

## Question 16
> 거주인구 컬럼의 값들을 출력하라

In [ ]:
df2['거주인구']

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

## Question 17
> 평균 속도 컬럼의 4분위 범위(IQR) 값을 구하여라

In [ ]:
df2['평균 속도'].quantile(.75) - df2['평균 속도'].quantile(.25)

14.854999999999997

## Question 18
> 읍면동명 컬럼의 유일값 갯수를 출력하라

In [ ]:
df2['읍면동명'].nunique()

41

## Question 19
> 읍면동명 컬럼의 유일값을 모두 출력하라

In [ ]:
df2['읍면동명'].unique()

array(['도두동', '외도동', '이도2동', '일도1동', '대천동', '서홍동', '한경면', '송산동', '조천읍',
       '일도2동', '영천동', '예래동', '대륜동', '삼도1동', '이호동', '건입동', '중앙동', '삼양동',
       '삼도2동', '이도1동', '남원읍', '대정읍', '정방동', '효돈동', '아라동', '한림읍', '구좌읍',
       '용담1동', '오라동', '화북동', '연동', '표선면', '중문동', '성산읍', '안덕면', '천지동',
       '노형동', '동홍동', '용담2동', '봉개동', '애월읍'], dtype=object)

# DataSet 3

## Question 20
> 데이터를 로드하라.

In [21]:
import pandas as pd

DataUrl_3 = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df3 = pd.read_csv(DataUrl_3)
df3.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

## Question 21
> quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하라

In [22]:
# df3.query('quantity == 3').head()
df3.loc[df3['quantity']==3].head()

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

## Question 22
> quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하라

In [23]:
df3.loc[df3['quantity']==3].head().reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75

## Question 23
> quantity , item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임을 정의하라

In [24]:
df3[['quantity', 'item_price']]

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

## Question 24
> item_price 컬럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 컬럼에 저장하라

In [25]:
# df3['new_price'] = df3['item_price'].str.replace('$', '').astype(float)

df3['new_price'] = df3['item_price'].str[1:].astype('float')
df3['new_price'].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: new_price, dtype: float64

## Question 25
> new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하여라

In [30]:
# df3.query('new_price <= 5').shape[0]
len(df3.loc[df3.new_price <= 5])

1652

## Question 26
> item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하고 index 값을 초기화 하여라

In [36]:
# df3[df3.item_name == 'Chicken Salad Bowl'].reset_index(drop=True).head(3)
Ans_26 = df3.loc[df3.item_name == 'Chicken Salad Bowl'].reset_index(drop=True)
Ans_26.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
2,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50

## Question 27
> new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하라

In [39]:
# Ans_27 = df3[(df3.new_price<=9) & (df3.item_name=='Chicken Salad Bowl')]
Ans_27 = df3.loc[(df3.item_name =='Chicken Salad Bowl') & (df3.new_price <= 9)]
Ans_27.head()

,order_id,quantity,item_name,choice_description,item_price,new_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75

## Question 28
> df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하여라

In [43]:
Ans_28 = df3.sort_values('new_price').reset_index(drop=True)
Ans_28.head(4)

   order_id  quantity      item_name choice_description item_price  new_price
0       471         1  Bottled Water                NaN     $1.09        1.09
1       338         1    Canned Soda        [Coca Cola]     $1.09        1.09
2      1575         1    Canned Soda       [Dr. Pepper]     $1.09        1.09
3        47         1    Canned Soda       [Dr. Pepper]     $1.09        1.09

## Question 29
> df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하라

In [50]:
# Ans_29 = df3[df3['item_name'].str.contains('Chips')]
Ans_29 = df3.loc[df3.item_name.str.contains('Chips')]
Ans_29.head()

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45

## Question 30
> df의 짝수번째 컬럼만을 포함하는 데이터프레임을 출력하라

In [58]:
df3.iloc[:, ::2].head()

   order_id                              item_name item_price
0         1           Chips and Fresh Tomato Salsa     $2.39
1         1                                   Izze     $3.39
2         1                       Nantucket Nectar     $3.39
3         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4         2                           Chicken Bowl    $16.98